{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-glsl"],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{ "files": ["*.frag"], "options": { "parser": "glsl-parser" } }
	]
}
