body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(0, 0, 0, 0.85);
}

.big-title {
  margin: 0;
  display: flex;
  height: 100vh;
}

.big-title .the-name {
  display: grid;
  width: 90vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: bold;
  color: black;
}

.big-title .the-name > span {
  font-size: 30vmin;
}

.big-title .the-name > span:not(.the-empty)::first-letter {
  background: var(--bg-color);
}

.big-title .the-name > span:nth-child(1) {
  --bg-color: violet;
}
.big-title .the-name > span:nth-child(2) {
  --bg-color: indigo;
}
.big-title .the-name > span:nth-child(3) {
  --bg-color: blue;
}
.big-title .the-name > span:nth-child(4) {
  --bg-color: green;
}
.big-title .the-name > span:nth-child(5) {
  --bg-color: yellow;
}
.big-title .the-name > span:nth-child(6) {
  --bg-color: orange;
}
.big-title .the-name > span:nth-child(7) {
  --bg-color: red;
}

.big-title .the-name .the-empty {
  --pos: 0%;
  font-weight: normal;
  user-select: none;
  color: white;
  font-size: 16px;
  grid-column: span 2;
  align-self: center;
  text-align: end;
  background: linear-gradient(black 0 0) 0 100% / var(--pos, 0) no-repeat;
  transition: 0.25s;
}

.big-title .the-name .the-empty:hover {
  --pos: 100%;
}

.big-title .the-lastname {
  writing-mode: vertical-lr;
  font-size: 14vmin;
}

.block {
  padding: 32px;
}

.info-block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-section {
  text-align: center;
}

.info-head {
  margin-top: 0;
}

.info-data {
  margin: 0;
}

.skill-img-group {
  text-align: center;
}

.foot {
  text-align: center;
}

.foot > .ico-credit,
.ico-credit .ico-by,
.contact > a {
  color: rgba(0, 0, 0, 0.7);
}

.contact > a:hover,
.ico-by:hover {
  color: rgba(0, 0, 0, 0.9);
}

.ico-by > svg {
  transform: translateY(1px);
}
