body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.big-title {
  margin: 0;
  display: flex;
  height: 100vh;
}

.big-title .the-name {
  display: grid;
  width: 90vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
}

.big-title .the-name > span {
  font-size: 30vmin;
}

.big-title .the-name > span:nth-child(1)::selection {
  background: violet;
}
.big-title .the-name > span:nth-child(2)::selection {
  background: indigo;
}
.big-title .the-name > span:nth-child(3)::selection {
  background: blue;
}
.big-title .the-name > span:nth-child(4)::selection {
  background: green;
}
.big-title .the-name > span:nth-child(5)::selection {
  background: yellow;
}
.big-title .the-name > span:nth-child(6)::selection {
  background: orange;
}
.big-title .the-name > span:nth-child(7)::selection {
  background: red;
}

.big-title .the-name .the-empty {
  --pos: 0%;
  font-weight: normal;
  user-select: none;
  color: white;
  font-size: 16px;
  grid-column: span 2;
  align-self: center;
  text-align: end;
  background: linear-gradient(black 0 0) 0 100% / var(--pos, 0) no-repeat;
  transition: 0.25s;
}

.big-title .the-name .the-empty:hover {
  --pos: 100%;
}

.big-title .the-lastname {
  writing-mode: vertical-lr;
  font-size: 14vmin;
}

.block {
  padding: 32px;
}

.block h2 {
  text-align: center;
  font-size: 32px;
}

.skill-box {
  border-radius: 4px;
  display: flex;
  margin: 16px auto;
  max-width: 600px;
}

.skill-box.js {
  box-shadow: 0px 0px 0px 1px #fcdc00, 5px 5px 0px 0px #fcdc00;
}

.skill-box.html {
  box-shadow: 0px 0px 0px 1px #f06529, 5px 5px 0px 0px #f06529;
}

.skill-box.cs {
  box-shadow: 0px 0px 0px 1px #05930c, 5px 5px 0px 0px #05930c;
}

.skill-box.python {
  box-shadow: 0px 0px 0px 1px #347ab4, 5px 5px 0px 0px #347ab4;
}

.skill-box.cpp {
  box-shadow: 0px 0px 0px 1px #00599c, 5px 5px 0px 0px #00599c;
}

.skill-box .img-cover {
  display: flex;
  align-items: center;
}

.skill-box img {
  height: 150px;
  width: 150px;
}

.skill-box .txt {
  padding: 16px;
}
