@use "sass:color";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: color.adjust(white, $lightness: -25%);
  }
}
