@use "sass:color";
@use './color' as c;

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: c.$bg;
  background: radial-gradient(
    circle at top left,
    color.adjust(c.$bg, $lightness: 7%) 0px,
    c.$bg 90vmax
  );
  font-family: 'Crimson Text', serif;
  color: c.$text;
  height: 1000vh;
}
