@use "sass:color";
@use "../styles/color" as c;

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    h1 {
      font-size: 150px;
      margin-top: 0;
    }

    h2 {
      font: {
        weight: normal;
        size: 50px;
        style: italic;
      }
      margin: 0;
      color: color.mix(c.$text, c.$bg, $weight: 75%);
    }
  }
